#panel
  transition all .25s ease-in-out
  transform translate(calc(-100% + 10px), calc(-100% + 10px))
  position fixed
  z-index 900
  top 0
  left 0;
  width 100%

  &:hover
    transform: translate(0, 0)